/* Full-screen Background */
.loginpage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: url("https://wallpapers.com/images/featured/neon-lights-aesthetic-nbmppc84kzjzdwfq.jpg")
    no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

/* Transparent White Card */
.loginpage-card {
  background: rgba(255, 255, 255, 0.2); /* White Transparent */
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
  backdrop-filter: blur(10px); /* Adds a blur effect */
}

/* Title */
.loginpage-title {
  color: black;
  font-size: 28px;
  margin-bottom: 15px;
}

/* Input Fields */
.loginpage-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.5);
  color: black;
}

.loginpage-input::placeholder {
  color: #555;
}

/* Login Button */
.loginpage-submit-btn {
  width: 100%;
  background-color: green;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.loginpage-submit-btn:hover {
  background-color: #006400;
}

/* Divider */
.loginpage-divider {
  color: black;
  margin: 15px 0;
}

/* Social Buttons */
.loginpage-social button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.loginpage-google-btn {
  background-color: #db4437;
  color: white;
}

.loginpage-facebook-btn {
  background-color: #135ae7;
  color: white;
}

/* Signup Text */
.loginpage-signup-text {
  color: rgb(252, 248, 248);
  margin-top: 20px;
  font-size: 16px;
}

.loginpage-signup-link {
  color: rgb(243, 243, 250);
  cursor: pointer;
  font-weight: bold;
}
